# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python build artifacts
__pycache__/

# Ignore the data
*.json
*.csv
*.db
*.index

# Ignore the cache folder
hfcache/

# Ignore IDE folder
.vscode/

# Ignore environment variables
.env
